<div class='page page--dashboard'>
  <aside class='page__sidebar sidebar vertical'>
    <div
      class='sidebar__logo text text--white text--subtitle click'
    >Sidebar</div>
    <span class='divider divider--sidebar'></span>
    <nav class='sidebar__nav vertical vertical--s'>
      <div class='nav__item nav__item--active click'>
        <a href='#' class='nav-button horizon horizon--s'>
          <span
            class='icon nav-button__icon'
            style='background-image: url(/img/dashboard/nav/home.svg);'
          ></span>
          <span
            class='nav-button__text text text--white'
          >Home</span>
        </a>
      </div>
      <div class='nav__item click click--outline'>
        <a href='#' class='nav-button horizon horizon--s'>
          <span
            class='icon nav-button__icon'
            style='background-image: url(/img/dashboard/nav/orders.svg);'
          ></span>
          <span
            class='nav-button__text text text--white'
          >Orders</span>
        </a>
      </div>
      <div class='nav__item click click--outline'>
        <a href='#' class='nav-button horizon horizon--s'>
          <span
            class='icon nav-button__icon'
            style='background-image: url(/img/dashboard/nav/products.svg);'
          ></span>
          <span
            class='nav-button__text text text--white'
          >Products</span>
        </a>
      </div>
    </nav>
  </aside>

  <header class='header'>
    <div class='layout horizon horizon--between'>
      <div class='header__search'>
        <input
          type='text'
          placeholder='Search'
          class='text field field--header'
        />
        <span
          class='icon header__icon-search'
          style='background-image: url(/img/dashboard/header/search.svg);'
        ></span>
        <span
          class='icon header__icon-settings click'
          style='background-image: url(/img/dashboard/header/search-menu.svg);'
        ></span>
      </div>
      <div class='header__menu horizon horizon--l'>
        <nav class='header__nav horizon horizon--s'>
          <div class='nav__item nav__item--active click'>
            <a
              href='#'
              class='nav-button horizon horizon--s'
            >
              <span
                class='icon nav-button__icon'
                style='background-image: url(/img/dashboard/nav/home.svg);'
              ></span>
              <span
                class='nav-button__text text text--white'
              >Home</span>
            </a>
          </div>
          <div class='nav__item click click--outline'>
            <a
              href='#'
              class='nav-button horizon horizon--s'
            >
              <span
                class='nav-button__text text'
              >Orders</span>
            </a>
          </div>
          <div class='nav__item click click--outline'>
            <a
              href='#'
              class='nav-button horizon horizon--s'
            >
              <span
                class='nav-button__text text'
              >Products</span>
            </a>
          </div>
        </nav>
        <div class='horizon horizon--l'>
          <span
            class='icon icon--button icon-menu__item icon--bg-yellow click'
            style='background-image: url(/img/dashboard/header/antenna-signal.svg);'
          ></span>
          <span
            class='icon icon--button icon-menu__item icon--bg-blue click'
            style='background-image: url(/img/dashboard/header/translate.svg);'
          ></span>
          <span
            class='icon icon--button icon-menu__item icon--bg-yellow click'
            style='background-image: url(/img/dashboard/header/bell.svg);'
          ></span>
        </div>
      </div>
    </div>
  </header>

  <main class='main layout vertical vertical--l'>
    <section class='box analytic__block vertical'>
      <div class='analytic__card card--big card--bg-purple'>
        <span
          class='icon icon--button analytic__icon icon--bg-dark-purple click'
          style='background-image: url(/img/dashboard/analytic/money.svg);'
        ></span>
        <div class='card__content vertical--s'>
          <div class='analytic__card--title horizon--s'>
            <h2
              class='card__title text text--bold text--white text--title'
            >$500.00</h2>
            <span
              class='icon icon--button icon--title icon--bg-light-purple click'
              style='background-image: url(/img/dashboard/analytic/arrow-up.svg);'
            ></span>
          </div>
          <p class='card__text text text--light'>Total
            earning</p>
        </div>
      </div>
      <div class='analytic__card card--big card--bg-blue'>
        <span
          class='icon icon--button analytic__icon icon--bg-dark-blue click'
          style='background-image: url(/img/dashboard/analytic/shopping-bag.svg);'
        ></span>
        <div class='card__content vertical--s'>
          <h2
            class='card__title text text--bold text--white text--title'
          >$961.00</h2>
          <p class='card__text text text--light'>Total Order</p>
        </div>
      </div>
      <div
        class='analytic__card card--small card--bg-blue horizon--s'
      >
        <span
          class='icon icon--button analytic__icon icon--bg-dark-blue click'
          style='background-image: url(/img/dashboard/analytic/money.svg);'
        ></span>
        <div class='card__content vertical--xs'>
          <h2
            class='card__title text text--bold text--white text--card-title'
          >$203k</h2>
          <p class='card__text text text--light'>Total
            Income</p>
        </div>
      </div>
      <div
        class='analytic__card card--small card--outline horizon--s'
      >
        <span
          class='icon icon--button analytic__icon icon--bg-yellow click'
          style='background-image: url(/img/dashboard/analytic/shop.svg);'
        ></span>
        <div class='card__content vertical--xs'>
          <h2
            class='card__title text text--bold text--card-title'
          >$203k</h2>
          <p class='card__text text'>Total Income</p>
        </div>
      </div>
    </section>

    <section class='box purchare__block vertical'>
      <h4 class='text text--bold text--subtitle'>Purchase
        list</h4>
      <span class='divider divider--main'></span>
      <div class='purchare__list vertical'>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>ID 437661</p>
          <p class='text'>May 11, 2023, 14:21</p>
        </div>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>AirOn ProCam</p>
          <p class='text'>7/8 USB Type-C</p>
        </div>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>132.32 EUR</p>
          <p class='text text--warning'>Not paid</p>
        </div>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>Customer</p>
          <p class='text'>herobin@com.dello</p>
        </div>
      </div>
      <span class='divider divider--main'></span>
      <div class='purchare__list vertical'>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>ID437661</p>
          <p class='text'>May 11, 2023, 14:21</p>
        </div>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>PHILIPS Essential</p>
          <p class='text'>HD9200/90</p>
        </div>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>543 USD</p>
          <p class='text text--success'>Pay by Stripe</p>
        </div>
        <div class='purchare__item vertical vertical--xs'>
          <p class='text'>Customer</p>
          <p class='text'>dima@com.ua</p>
        </div>
      </div>
    </section>

    <section class='box payment__block vertical'>
      <h4
        class='text text--bold text--subtitle'
      >Payment</h4>
      <span class='divider divider--main'></span>

      <div class='form__radio vertical vertical--s'>
        <div class='form-check horizon horizon--s click'>
          <input
            class='form-check__input'
            type='radio'
            name='flexRadio'
          />
          <label class='form-check__label' for='flexRadio'>
            <div class='text'>Credit card</div>
          </label>
        </div>
        <div class='form-check horizon horizon--s click'>
          <input
            class='form-check__input'
            type='radio'
            name='flexRadio'
          />
          <label class='form-check__label' for='flexRadio'>
            <div class='text'>Debit card</div>
          </label>
        </div>
        <div class='form-check horizon horizon--s click'>
          <input
            class='form-check__input'
            type='radio'
            name='flexRadio'
          />
          <label class='form-check__label' for='flexRadio'>
            <div class='text'>PayPal</div>
          </label>
        </div>
      </div>

      <div class='form__label vertical'>
        <div class='label__block vertical vertical--xs'>
          <label class='field__label text text--field'>Name
            on card</label>
          <input type='text' class='field' />
        </div>
        <div class='label__block vertical vertical--xs'>
          <label
            class='field__label text text--field'
          >Credit card number</label>
          <input type='text' class='field' />
        </div>
        <div class='label__block vertical vertical--xs'>
          <label
            class='field__label text text--field'
          >Expiration</label>
          <input type='text' class='field' />
        </div>
        <div class='label__block vertical vertical--xs'>
          <label
            class='field__label text text--field'
          >CVV</label>
          <input type='text' class='field' />
        </div>
      </div>

      <span class='divider divider--main'></span>

      <div class='form__select vertical'>
        <div class='select__block vertical vertical--xs'>
          <label
            class='field__label text text--field'
          >Country</label>
          <div class='field click'>
            <span class='text horizon'>Choose...</span>
            <select class='field__select'>
              <option value='dog'>Dog</option>
              <option value='dog'>Dog</option>
              <option value='dog'>Dog</option>
              <option value='dog'>Dog</option>
              <option value='dog'>Dog</option>
            </select>
            <span
              class='icon form__icon-select'
              style='background-image: url(/img/dashboard/arrow-down.svg);'
            ></span>
          </div>
        </div>
        <div class='field__block vertical vertical--xs'>
          <label
            class='field__label text text--field'
          >State</label>
          <div class='field click'>
            <span class='text horizon'>Choose...</span>
            <select class='field__select'>
              <option value='dog'>Cat</option>
              <option value='dog'>Cat</option>
              <option value='dog'>Cat</option>
              <option value='dog'>Cat</option>
              <option value='dog'>Cat</option>
            </select>
            <span
              class='icon form__icon-select'
              style='background-image: url(/img/dashboard/arrow-down.svg);'
            ></span>
          </div>
        </div>
      </div>
      <span class='divider divider--main'></span>
      <a
        href='#'
        class='button button--primary horizon horizon--s click'
      >
        <span class='text text--white text--field'>Continue
          to checkout</span>
      </a>
    </section>
  </main>
</div>