<div class='page'>
  <section class='page_section'>
    <div class='page_content hero'>
      <div class='hero_wrap'>
        <div class='hero_content'>
          <span class='hero_label'>Slack Features</span>
          <h1 class='hero_title'>One platform for your team
            and your work</h1>
          <p class='hero_info'>All the features of Slack
            work together so you can, too.</p>
          <div class='hero_buttons'>
            <a
              href='#'
              class='button button_primary click'
            >Try for free</a>
            <a
              href='#'
              class='button button_secondary click'
            >See all features</a>
          </div>
        </div>
        <img
          src='/img/hero/hero-full-ui.png'
          alt='hero'
          class='hero_img'
        />
      </div>
      <div class='hero_company'>
        <img
          class='hero_company_logo'
          src='/img/hero/airbnb.png'
          alt='airbnb'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/target.png'
          alt='target'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/uber.png'
          alt='uber'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/onemedical.png'
          alt='onemedical'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/newscorp.png'
          alt='newscorp'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/us-department.png'
          alt='department'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/intuit.png'
          alt='intuit'
        />
        <img
          class='hero_company_logo'
          src='/img/hero/sonos.png'
          alt='sonos'
        />
      </div>
    </div>
  </section>

  <section class='page_section page_section_light'>
    <div class='page_content content_block features'>
      <img
        src='/img/features/features-bg-img.png'
        alt='features'
        class='features_bg_img'
      />
      <div class='features_content'>
        <h2 class='features_title'>Work more easily with
          everyone</h2>
        <p class='features_dscr'>Stay on the same page and
          make decisions faster by bringing all of your work
          communication into one place.</p>
      </div>
      <div class='features_cards cards_block'>
        <div class='feat_card card_wrap card_big'>
          <div class='feat_card_wrapp'>
            <span
              class='feat_icon icon'
              style="background: url('/img/features/slack-connect.svg');"
            ></span>
            <strong class='feat_card_title'>Slack Connect</strong>
            <p class='feat_card_text'>Collaborate with teams
              at other companies the same way you do with
              teams at your own.</p>
          </div>
          <a
            href='#'
            class='icon_arrow click feat_link'
          ></a>
        </div>
        <div class='feat_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/channels.svg');"
          ></span>
          <strong class='feat_card_title'>Channels</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
        <div class='feat_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/canvas.svg');"
          ></span>
          <strong class='feat_card_title'>Canvas</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
        <div class='feat_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/huddles.svg');"
          ></span>
          <strong class='feat_card_title'>Huddles</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
        <div class='feat_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/messaging.svg');"
          ></span>
          <strong class='feat_card_title'>Messaging</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
        <div class='feat_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/clips.svg');"
          ></span>
          <strong class='feat_card_title'>Clips</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
        <div class='feat_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/accessibility.svg');"
          ></span>
          <strong
            class='feat_card_title'
          >Accessibility</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
      </div>

    </div>
    <div class='page_content content_block work-tools'>
      <img
        src='/img/work-tools/work-tools-bg-img.png'
        alt='work-tools'
        class='work-tools_bg_img'
      />
      <div class='features_content work-tools_content'>
        <h2 class='features_title'>Work more easily with
          everyone</h2>
        <p class='features_dscr'>Stay on the same page and
          make decisions faster by bringing all of your work
          communication into one place.</p>
      </div>
      <div class='work-tools_cards cards_block'>
        <div class='tools_card card_wrap card_big'>
          <div class='feat_card_wrapp'>
            <span
              class='feat_icon icon'
              style="background: url('/img/features/slack-connect.svg');"
            ></span>
            <strong class='feat_card_title'>Slack Connect</strong>
            <p class='feat_card_text'>Collaborate with teams
              at other companies the same way you do with
              teams at your own.</p>
          </div>
          <a
            href='#'
            class='icon_arrow click feat_link'
          ></a>
        </div>
        <div class='tools_card card_wrap card_big'>
          <div class='feat_card_wrapp'>
            <span
              class='feat_icon icon'
              style="background: url('/img/features/slack-connect.svg');"
            ></span>
            <strong class='feat_card_title'>Slack Connect</strong>
            <p class='feat_card_text'>Collaborate with teams
              at other companies the same way you do with
              teams at your own.</p>
          </div>
          <a
            href='#'
            class='icon_arrow click feat_link'
          ></a>
        </div>
        <div class='tools_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/channels.svg');"
          ></span>
          <strong class='feat_card_title'>Channels</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
        <div class='tools_card card_wrap'>
          <span
            class='feat_icon icon'
            style="background: url('/img/features/channels.svg');"
          ></span>
          <strong class='feat_card_title'>Channels</strong>
          <span class='icon_arrow click feat_link'></span>
        </div>
      </div>

    </div>
  </section>

  <section class='page_section'>
    <div class='page_content feedback'>
      <div class='feedback_wrap'>
        <img
          src='/img/feedback/img-deliveroo.png'
          alt='feedback'
          class='feedback_img'
        />
        <div class='feedback_content'>
          <p class='feedback_info'>“The thing that keeps us
            connected the most is Slack. It’s a very
            immediate and straightforward method of
            communication, and really the only channel that
            people prefer and enjoy using.”</p>
          <span
            class='feedback_logo icon'
            style="background: url('/img/feedback/feedback-logo.svg');"
          ></span>
          <span class='feedback_user'>Will Sprunt, CIO,
            Deliveroo</span>
        </div>
      </div>
    </div>
  </section>

  <section class='page_section'>
    <div class='page_content articles'>
      <div class='articles_wrap'>
        <h2 class='articles_title'>Explore more about
          working in Slack</h2>
        <div class='articles_content'>
          <div class='article_card'>
            <img
              src='/img/articles/slack-101.jpg'
              alt='article image'
            />
            <div class='article_card_wrap'>
              <div class='article_card_content'>
                <span class='article_card_subtitle'>Slack
                  Tutorials</span>
                <h3 class='article_card_title'>Slack 101</h3>
              </div>
              <div class='article_card_link'>
                <span class='link_dscr'>Learn more</span>
                <span
                  class='icon icon_arrow click article_link'
                ></span>
              </div>
            </div>
          </div>
          <div class='article_card'>
            <img
              src='/img/articles/slack-vs-email.jpg'
              alt='article image'
            />
            <div class='article_card_wrap'>
              <div class='article_card_content'>
                <span class='article_card_subtitle'>Slack
                  vs. Email</span>
                <h3 class='article_card_title'>An easier,
                  more organized way to work</h3>
              </div>
              <div class='article_card_link'>
                <span class='link_dscr'>Learn more</span>
                <span
                  class='icon icon_arrow click article_link'
                ></span>
              </div>
            </div>

          </div>
          <div class='article_card'>
            <img
              src='/img/articles/wow-enterprise-customers.jpg'
              alt='article image'
            />
            <div class='article_card_wrap'>
              <div class='article_card_content'>
                <span class='article_card_subtitle'>Customer
                  Stories</span>
                <h3 class='article_card_title'>How Fastly
                  uses Slack Connect to wow enterprise
                  customers</h3>
              </div>
              <div class='article_card_link'>
                <span class='link_dscr'>Learn more</span>
                <span
                  class='icon icon_arrow click article_link'
                ></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>