/*====== Responsive =======*/

/* Large(Desktop): 1025px - 1299px */
@media (max-width: 1299px) {
  .page_content {
    max-width: var(--page-width-l);
  }
  .hero_wrap {
    gap: var(--space-20);
  }
}

/* Medium(Tablet): 761px - 1024px */
@media (max-width: 1024px) {
  .page_content {
    max-width: var(--page-width-m);
  }
  .feedback_wrap {
    flex-direction: column;
  }
}

/* Small(Mobile): 576px - 760px */
@media (max-width: 760px) {
  .page_content {
    max-width: var(--page-width-s);
  }
  .hero_wrap {
    min-height: min-content;
  }
  .hero_img {
    display: none;
  }
  .content_block {
    grid-template-columns: repeat(2, 1fr);
  }
  .features_content {
    grid-column: 1 / 3;
  }
  .cards_block {
    grid-template-columns: repeat(2, 1fr);
  }
  .work-tools_content {
    grid-column: 1 / 3;
  }
  .work-tools_cards {
    grid-column: 1 / 3;
  }
  .card_big {
    grid-column: 1 / 3;
    grid-row: 1fr;
  }
  .feedback_img {
    width: 100%;
  }
}

/* Extra small(Mobile): 0px (320px) - 575px */
@media (max-width: 575px) {
  .page_content {
    max-width: var(--page-width-xs);
  }
  .hero_title {
    font-size: var(--size-32);
  }
  .hero_info {
    font-size: var(--size-18);
  }
  .hero_buttons {
    display: flex;
    flex-direction: column;
  }
}

/*==================*/

@media (min-width: 760px) {
  .content_block {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards_block {
    grid-template-columns: repeat(3, 1fr);
  }
  .work-tools_content {
    grid-column: 2 / 4;
  }
  .work-tools_cards {
    grid-column: 1 / 4;
  }
  .articles_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .hero_wrap {
    flex-direction: row;
  }
  .hero_img {
    width: 100%;
  }
  .hero_content {
    max-width: 425px;
  }
  .hero {
    padding-top: 100px;
  }
  .features {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .features_bg_img {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
  }
  .work-tools {
    padding-top: 60px;
    padding-bottom: 140px;
  }
  .work-tools_bg_img {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
  }
  .content_block {
    grid-template-columns: repeat(4, 1fr);
  }
  .cards_block {
    grid-template-columns: repeat(4, 1fr);
  }
  .work-tools_content {
    grid-column: 3 / 5;
  }
  .work-tools_cards {
    grid-column: 2 / 5;
    grid-template-columns: repeat(3, 1fr);
  }
  .articles_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
